body {
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
	letter-spacing: 2px;
	font-size: 18px;
}

.fixed-width-container {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

p {
	margin-bottom: 0;
}

h1 {
	font-size: 2em;
}

.flex {
	display: flex;
	flex-direction: row;
}

.flex-col {
	flex-direction: column;
}

.red-bg {
	background-color: #f24c4c;
}

header {}

main {
	flex-grow: 1;
}

footer {
	border-top: 1px solid #021d35;
}

.header-bar {
	padding: 10px;
	color: #fff;
	font-size: 0.73em;
	align-items: center;
}

.header-bar__text {
	flex-grow: 2;
}

.header-bar__email,
.header-bar__email:focus,
.header-bar__email:hover {
	flex-grow: 1;
	color: #fff;
	text-decoration: none;
}

.header-bar__email > img {
	margin-top: -3px;
	width: 21px;
}

.header-bar__ph {
	flex-grow: 1;
}

.header-bar__ph > img {
	margin: -3px -1px 0 0;
	width: 19px;
}

.header {
	align-items: center;
	padding: 15px 15px 10px;
}

.navbar-default .navbar-collapse {
	border-color: transparent;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-nav>li>a {
	color: #000;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	color: #f24c4c;
	background: transparent;
}

.header__company-logo {
	flex-grow: 1;
}

.header__nav-link,
.header__nav-link:hover,
.header__nav-link:focus {
	color: #000;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.89em;
	/*margin-right: 15px;*/
	text-decoration: none;
}

.navbar {
	margin-bottom: 0;
}

/*.header__nav-link.active,
.header__nav-link:hover,
.header__nav-link:focus {
	color: #f24c4c;
}*/

.header__nav-link:last-child {
	margin-right: 0;
}

.header__company-logo > a {
	display: inline-block;
}

.footer-section {
	width: 300px;
	font-size: 0.89em;
	margin: 25px 0 35px;
	flex-shrink: 0;
	margin-right: 30px;
}

.footer-section:last-child {
	margin-right: 0;
}

.footer__about-us-content,
.footer-section__title {
	margin-bottom: 20px;
}

.footer__about-us-content:last-child {
	margin-bottom: 0;
}

.footer-section__title {
	text-transform: uppercase;
	font-weight: bold;
	color: #f24c4c;
}

.footer__quick-link,
.footer__quick-link:hover,
.footer__quick-link:focus {
	text-decoration: none;
	display: block;
	text-align: center;
	margin-bottom: 5px;
	color: #000;
}

.footer__quick-link:hover,
.footer__quick-link:focus {
	color: #f24c4c;
}

.footer__social-links {
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}

.footer__social-link {
	margin-right: 10px
}

.subscribe-form__email,
.subscribe-form__email:focus {
	border-radius: 0;
	box-shadow: none;
	padding: 9px 12px;
	height: auto;
	border: 2px solid #f24c4c;
	text-align: center;
	margin-bottom: 20px;
}

.subscribe-form__btn,
.subscribe-form__btn:hover,
.subscribe-form__btn:focus {
	background-color: #021d35;
	border-radius: 0;
	border-color: #021d35;
	display: block;
	width: 100%;
	letter-spacing: 2px;
	padding: 9px 12px;
	outline: none;
}

.navbar-brand {
	display: none;
}

@media(max-width: 960px) {
	.flex {
		flex-wrap: wrap;
	}
}

@media(max-width: 768px) {
	.header__nav {
		flex-grow: 1;
		width: 100%;
		border: 1px solid #ddd;
	}

	.header__company-logo {
		text-align: center;
		margin-bottom: 10px;
	}

	.navbar-toggle {
		margin-right: 10px;
		border-radius: 0;
	}

	.container-fluid>.navbar-header,
	.container-fluid>.navbar-collapse {
		margin-right: 0;
		margin-left: 0;
	}

	.header-bar__item {
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
	}

	.header-bar__item:last-child {
		margin-bottom: 0;
	}

	.footer {
		justify-content: center;
		padding: 15px;
	}

	.footer-section {
		width: 100%;
		max-width: 300px;
		margin: 20px 0;
	}
}

@media(max-width: 767px) {
	.navbar-nav {
		margin: 0px -15px;
		border-top: 1px solid #ddd;
	}

	.navbar-brand {
		display: block;
	}
}

@media(max-width: 480px) {
	body {
		font-size: 16px;
	}
}

