.products-menu {
	border-bottom: 1px solid #000;
	margin-bottom: 50px;
}

.products-menu__item {
	flex-grow: 1;
	text-align: center;
	color: #000;
	text-transform: uppercase;
	font-size: 0.89em;
	padding: 24px 10px;
	font-weight: bold;
	font-family: 'Roboto Condensed', sans-serif;
	position: relative;
}

.products-menu__item.active {
	color: #f24c4c;
}

.products-menu__item.active:after {
	position: absolute;
	bottom: -2px;
	content: "";
	width: 100%;
	height: 1px;
	left: 0;
	border-bottom: 4px solid #f24c4c;
}

.products-menu__item:hover,
.products-menu__item:focus {
	color: #f24c4c;
	text-decoration: none;
}

.products-category {
	margin-bottom: 80px;
}

.products-category__title {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 1.78em;
	margin: 15px 0;
	padding: 0 15px;
}

.products-category__desc {
	font-weight: bold;
	padding: 0 15px;
}

.products {
	margin: 50px auto;
	justify-content: center;
	flex-wrap: wrap;
}

.product {
	padding: 15px;
	border: 2px solid #f24c4c;
	width: 100%;
	flex-grow: 1;
	max-width: 300px;
	margin: 20px 10px;
	flex-shrink: 0;
}

.product__name {
	text-transform: uppercase;
	font-size: 0.89em;
	font-weight: bold;
}

.product__desc {
	flex-grow: 1;
}

.product__desc,
.product__price {
	font-size: 0.78em;
}

.product__info {
	margin-bottom: 10px;
}

.product__contact-info {
	text-transform: uppercase;
	color: #fff;
	background: #f24c4c;
	padding: 10px 15px;
	margin: 0 -17px -17px -17px;
	font-size: 11.5px;
}

.products-category__divider {
	margin: 10px auto;
	display: block;
	width: 100%;
	max-width: 250px;
}

@media(max-width: 768px) {
	.products {
		margin: 15px auto;
	}

	.products-menu {
		justify-content: center;
	}

	.products-menu__item.active:after {
		display: none;
	}

	.products-menu__item {
		border: 2px solid #000;
		margin: 10px;
		flex-grow: 0;
		padding: 15px 10px;
	}

	.products-menu__item.active {
		border: 2px solid #f24c4c;
	}
}
