.team {
	padding: 30px 15px;
}
.team__txt {
	font-weight: bold;
}

.team-members {
	margin: 30px -15px 60px;
	justify-content: center;
}

.team-member {
	width: 100%;
	max-width: 300px;
}

.team-member__pic {
	max-width: 300px;
	width: 100%;
	height: 300px;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 25px;
}

.team-member__pic,
.team-member__desc {
	border: 2px solid #000;
}

.team-member__desc {
	padding: 15px;
	flex-grow: 1;
}

.team-member__role,
.team-member__name {
	font-weight: bold;
}

.team-member__role {
	margin-bottom: 15px;
}

.team-member__about {
	margin-bottom: 20px;
	font-size: 0.89em;
}

.team-member {
	margin: 25px 10px;
}
